<h1><strong>Your Word: </strong><%= @word.name() %></h1>
<% if @word.definition.any? %>
<h3><strong>Your Definition: </strong><%= @word.definition[0].word_definition %></h3>
<% end %>


<form action="/word/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="word_definition">Add Your definition: </label>
    <input id="word_definition" name="word_definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>

<a href="/list">Go back to the list of words!</a>
